# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Owl
.owl-dns-synergy/
owl-dns-synergy.egg-info/
.pytest_cache/
cache/
logs/

# Secrets
.env
*.key

# System
*.log
